.hero {
    position: relative;
    box-shadow: 0 -2px 20px 4px $color-main;
    background-image: linear-gradient(to top,
            #414b64,
            #353f57,
            #2a344b,
            #1f293f,
            #141f33);

    &__center {
        position: relative;
        min-height: 100vh;
        display: grid;
        padding: 3rem 0 5rem 0;
        @include maxWidth;

        @include deskopSize() {
            align-items: center;
        }
    }

    &__content {
        &-text {
            color: $color-text;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 3.5rem;
            text-align: center;

            @include mediumSize {
                font-size: 7rem;
                line-height: 6.5rem;
                text-align: initial;
            }

            @include deskopSize() {
                margin-top: -10rem;
            }
        }

        &-name {
            display: block;

            @include mediumSize {
                margin-left: 2rem;
            }
        }

        &-lastName {
            display: block;
            word-break: break-all;

            @include mediumSize {
                margin-left: 8rem;
            }
        }
    }

    &-imageBox {
        position: absolute;
        display: flex;
        top: 30%;
        align-items: center;
        right: 0;
        max-height: 100%;
        flex-direction: column;

        @include deskopSize() {
            justify-content: flex-end;
            top: 25%;
        }
    }

    &-image {
        max-height: 500px;
        width: 100%;

        @include deskopSize() {
            width: initial;
        }

        &-btn {
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            width: 80%;
            border-radius: 90rem;
            border: transparent;
            font-family: inherit;
            color: $color-text;
            font-size: 1.5rem;
            background-color: $color-main;
            cursor: pointer;
            transition: all 0.3s;
            outline: none;
            transform: translate(0px, 0px);
            box-shadow: 0px 5px 10px 2px rgba($color-light-black, 0.7);

            &:hover,
            &:focus,
            &:active {
                color: rgba($color-text, 0.3);
                transform: translate(0px, 5px);
                box-shadow: 0px 1px 4px 1px rgba($color-light-black, 0.4);
            }
        }
    }

    &-arrow {
        cursor: pointer;
        position: absolute;
        bottom: 0%;
        left: 50%;
        color: $color-main-light;
        font-size: 2rem;
        animation: bounce 3s linear infinite;
    }
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

$color-box: #fff;
$color-shadow: #65c1ff;

.about {
    position: absolute;
    top: -45%;
    width: 100%;
    height: 290px;
    visibility: hidden;
    @include deskopSize(){
    left: -70%;
    top: -22%;
    }
}
.about-context{
    position: absolute;
    width: 100%;
    height: 290px;
    padding: 60px 30px;
    border-bottom-right-radius: 50%;
    border-bottom: 5px solid $color-shadow;
    text-align: center;
    color: #00bfb6;
    font-size: 1.25rem;
    opacity: 0;
    background-color: #fff;
    @include mediumSize(){
    border-radius: 50%;
    padding: 80px 100px;
    border: 5px solid  $color-shadow;
    }
    @include deskopSize(){
        padding: 60px 60px;

    }
    &-btn{
        position: absolute;
        bottom: 7%;
        right: 35%;
        background-color: transparent;
        opacity: 0;
        border: none;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-family: inherit;
        padding: 0.25rem 1rem;
        cursor: pointer;
        font-weight: 700;
        color:#0a76be;
        @include deskopSize(){
            right: 27%;
        }
    }
}

.circle1 {
    border: 5px solid #00bfb6;
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    left: 30%;
    bottom: -25%;
    z-index: 99;
    opacity: 0;
    @include deskopSize(){
        left: initial;
        right: -20px;
        bottom: 25px;
    }
}

.circle1:before {
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
}

.circle2 {
    border: 5px solid #00bfb6;
    position: absolute;
    width: 5px;
    height: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    left: 40%;
    bottom: -38%;
    opacity: 0;
    @include deskopSize(){
        left: initial;
        right: -60px;
        bottom: 0px;
    }
}